h2{
	font-size: 70px;
	color:blue;
}
.dog{
	width:70%;
}
body {
	background-color:lightblue;

}
div{
	margin-bottom: 50px;
}
.pic{
	width:80%
}
.foto{
	width:85%;
}
.centerbox{
	text-align: center;
}
h4 {
	color: pink
}
ul{
	font-size: 25px;
}
.card{
	background-color:mediumpurple;
}